<div class="scrollable">
  <div class="scrollable-content" remember-position position="news">
    <div class="list-group">

      <div class="list-group-item">
        <h1>
          Home
          <div class="pull-right">
            <i class="fa fa-smile-o feature-icon text-primary"></i>
          </div>
          <br>
          <small>Subtitle</small>
        </h1>
      </div>

      <div class="list-group-item">
        This is main view for arp-seed template
      </div>

    </div>
  </div>
</div>